baidu-aip>=2.2.18.0
certifi>=2020.6.20
cffi>=1.14.0
chardet>=3.0.4
configobj>=5.0.6
EasyProcess>=0.3
entrypoint2>=0.2.1
idna>=2.10
jeepney>=0.4.3
mss>=5.1.0
Pillow>=7.1.2
pycparser>=2.20
PyQt5>=5.15.0
PyQt5-sip>=12.8.0
pyscreenshot>=2.2
requests>=2.24.0
six>=1.15.0
system-hotkey>=1.0.3
urllib3>=1.25.9
xcffib>=0.9.0
xpybutil>=0.0.6
